.cart {
  background: #fffdf7;
  color: #333333;
  padding: 1.5rem; 
  position: fixed;
  right: 3rem; 
  top: 9.5rem;
  width: fit-content; 
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Softer shadow */
  display: none;
  transition: all 0.3s ease;
  overflow: auto;
  border-radius: 0.5rem; 
  max-height: 80vh;
}

/* Always show PersistentCart */
.persistent-cart {
  background: white;
  color: #333333;
  padding: 0 0 0.5rem 0;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Opcional: Agrega una sombra para destacarlo */
  overflow: auto;
  max-height: 44vh;
  border-radius: 0.5rem;
}


.cart img, 
.persistent-cart img {
  width: 4rem;
  height: 4rem; /* Maintain aspect ratio */
  margin: 0.5rem;
  object-fit: cover;
  border-radius: 0.25rem; /* Slightly rounded corners for images */
  margin-right: 1rem;
}
.cart, .persistent-cart {
  /* ... other styles ... */
  overflow-y: auto; /* Keep this to allow scrolling if content overflows */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cart::-webkit-scrollbar, .persistent-cart::-webkit-scrollbar { 
  display: none; /* Chrome, Safari, and Opera */
}

.cart li,
.persistent-cart li {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 1rem 0; /* Consistent padding */
  border-bottom: 1px solid #eee; /* Light gray separator */
}

.cart .item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
}

.persistent-cart .item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;  /* Arrange details horizontally */
}

.cart .item-details strong,
.persistent-cart .item-details strong {
  font-size: 0.875rem;
  /* Slightly larger font size for title */
  margin-bottom: 0.25rem;
  margin: 0.5rem;
}

.cart .item-details .description,
.persistent-cart .item-details .description {
  font-size: 0.75rem;
  color: #798685;
  margin-bottom: 0.5rem;

}
.cart .price,
.persistent-cart .price {
  color: #73B89D;
  margin: 0.5rem;
}

.cart .title ,
.persistent-cart .title {
  color: #525D5A;
}
.cart .quantity-controls,
.persistent-cart .quantity-controls {
  /* Style for quantity controls */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart .item-details .price,
.persistent-cart .item-details .price {
  font-weight: bold;
}

.cart footer,
.persistent-cart footer {
  padding: 0.75rem 1.5rem; /* Increase padding for better clickability */
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition on hover */
  width: 100%; /* Make buttons full width */
  text-align: center; 
}

.cart footer button,
.persistent-cart footer button {
  padding: 0.5rem;
  /* Use your desired color */
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cart-button {
  align-items: center;
  background: #ff4b1f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 8px;
  top: 200px;
  transition: all .3s ease;
  width: 32px;
  z-index: 10000;
  /* Asegura que el botón también esté por encima de todo */
  max-height: 80vh;
  /* O ajusta según tu diseño */

}
.cart-button~input:checked~.cart {
  display: block;
}

.cart footer button:hover,
.persistent-cart footer button:hover {
  background-color: #f39c12; /* Darker shade on hover */
}

.cart-button:hover {
  transform: scale(1.1);
  /* hover:scale-110 */
  background-color: #ffd700;
  /* hover:bg-yellow-400 */
}

.cart-button~input:checked~.cart {
  display: block;
}

@media (max-width: 768px) { 
  .cart {
    width: 90%;
    top: 5rem;
  }

  .cart-button {
    top: 5.5rem;
  }
}

.cart-product-image{
  width: 100px; /* Adjust image size as needed */
  height: 80px;
  border-radius: 0.5rem;
  background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 400px;
   color: #324d67;

}
.item-desc .bottom{
  margin-top: 0.5rem; 
}
.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container{
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
  
}
.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
width: 100%;
padding: 30px 65px;

}



