.filters {
    display: flex;
    flex-direction: column; /* Columna por defecto para todos los dispositivos */
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    gap: 1rem;
    margin-bottom: 1rem; /* Agregar margen inferior para evitar superposición */
}


@media (min-width: 640px) {
    .filters {
        flex-direction: row; /* Fila en dispositivos medianos en adelante */
        align-items: center;
    }
}

.filters>div {
    display: flex;
    gap: 1rem;
    width: 100%; /* Mantener ancho completo para cada div en dispositivos pequeños */
}
